body {
    box-sizing: border-box;
    max-width: 90vw;
    margin: auto;
    padding: 4vh 0;
}

.column {
    width: 48%;
    background-color: #ace;
    box-sizing: border-box;
    padding: 32px;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.box {
    float: left;
    width: 100%;
    clear: both;
    background-color: #bada55;
    padding: 13px;
    box-sizing: border-box;
    margin-bottom: 45px;
}